.grid {
    width: 100%;
    padding: 0;
    display: block;
}

.grid.wide {
    max-width: 1200px;
    margin: 0 auto;
}

@media (min-width: 46.1875em) and (max-width:63.9375em) {
    .wide {
        width: 644px;
    }
}

@media (min-width: 63.9375em) and (max-width:63.9375em) {
    .wide {
        width: 644px;
    }
}