* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {}

#header {
    height: 6px;
    background-color: black;
}

#nav {}

#nav li {
    display: inline-block;
}

#nav li a {
    color: #fff;
    text-decoration: none;
    line-height: 46px;
}

#nav .subnav {
    display: none;
}

#slider #content #footer