* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: helvetica, arial, sans-serif;
}

#main {}

#header {
    height: 46px;
    background-color: black;
}

#nav,
.subnav {
    list-style-type: none;
}

#nav>li {
    display: inline-block;
    position: relative;
}

#nav>li>a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    /* color: #fff; */
    text-decoration: none;
    line-height: 46px;
    padding: 0px 24px;
    display: block;
}

#nav>li:hover>a,
#nav .subnav li:hover a {
    color: rgb(12, 11, 11);
    background-color: rgb(115, 122, 126);
}

#nav .subnav {
    /* display: none; */
    position: absolute;
    background-color: #fff;
}

#nav .subnav a {
    color: black;
    padding: 0px 12px;
    line-height: height 30px;
}

#slider {
    min-height: 1000px;
    background-color: #333;
}

#content #footer