* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    background-color: rgb(51, 111, 163);
}

#header {
    height: 100px;
    background-color: aqua;
}

#slider #content #footer